        <footer>
            <p>AskMe - Portal de Perguntas e Respostas</p>
        </footer>
    </div>
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="../../js/alerts.js"></script>
</html>