<%- include ('partials/header.ejs') %>
    <main>
        <h1>Qual sua dúvida ?</h1>
        <form method="post" action="save-question">
            <input type="text" name="title" placeholder="Título da pergunta" required>
            <textarea name="description" cols="30" rows="5" placeholder="Descreva sua pergunta" required></textarea>
            <button class="primary">Enviar pergunta</button>
        </form>
    </main>
    <footer>
        <p>AskMe - Portal de Perguntas e Respostas</p>
    </footer>
<%- include ('partials/footer.ejs') %>
    