<%- include ('partials/header.ejs') %>
    <main>
        <h1>Ask - Plataforma de Perguntas e Respostas</h1>
       
    </main>
    <footer>
        <p>AskMe - Portal de Perguntas e Respostas</p>
    </footer>
<%- include ('partials/footer.ejs') %>
    