<%- include ('partials/header') %>
    <main>
        <div class="page-title">
            <h1>Ask - Plataforma de Perguntas e Respostas</h1>
            <a href="new-ask"><button class="success"><i class="fas fa-question-circle"></i> &nbsp; Perguntar</button></a>       
        </div>
        <hr><br>
       <div class="questions-container">
           <form method="post" action="question-list">
                <select name="category" required>
                    <option value="">-- Selecione uma categoria --</option>
                    <option value="javascript">Javascript</option>
                    <option value="nodeJS">nodeJS</option>
                    <option value="php">PHP</option>
                    <option value="html">HTML</option>
                    <option value="css">CSS</option>
                    <option value="other">Outro</option>
                </select>
                <button class="primary"><i class="fas fa-filter"></i> &nbsp; Filtrar categoria</button>
           </form>
           <br><br><hr>
           <h2>>> Todas as perguntas:</h2>
           <% questions.forEach(question => { %>
            <div class="question-list">
                <h4><i class="far fa-hand-point-right"></i> &nbsp; <%= question.title %></h4>
                <a href="/question/<%= question.id %>"><button class="light"><i class="far fa-eye"></i></i>&nbsp; Responder / Ver</button></a>
            </div>
           <% }) %>
       </div>
    </main>
    <script>
        const questionSave = () => {
            swal({
                icon: "success",
                title: "Sucesso !",
                text: "Sua pergunta foi adicionada !",
                buttons: {
                    confirm: "Fechar"
                }
            })
        }

        const categoryUndefined = () => {
            swal({
                icon: "warning",
                title: "Essa categoria ainda não possui perguntas",
                text: "Faça a primeira pergunta ...",
                buttons: {
                    cancel: "Fechar",
                    ask: "Perguntar"
                }
            }).then(function(value) {
                if(value == "ask"){
                    window.location = "new-ask";
                }
            })
        }

        const urlParams = new URLSearchParams(window.location.search)
        const param = urlParams.get("alert")

        param === "question-saved" ? window.onload = questionSave : false
        param === "category-undefined" ? window.onload = categoryUndefined : false

    </script>
<%- include ('partials/footer') %>
    