<%- include ('partials/header') %>
    <main>
        <div class="page-title">
            <h1>Ask - Plataforma de Perguntas e Respostas</h1>
            <a href="new-ask"><button class="success">Perguntar</button></a>       
        </div>
       <div class="questions-container">
           <form method="post" action="question-list">
                <select name="category" required>
                    <option value="">-- Selecione uma categoria --</option>
                    <option value="javascript">Javascript</option>
                    <option value="nodeJS">nodeJS</option>
                    <option value="php">PHP</option>
                    <option value="html">HTML</option>
                    <option value="css">CSS</option>
                    <option value="other">Outro</option>
                </select>
                <button class="primary">Filtrar categoria</button>
           </form>
           <h2>>> Todas as perguntas:</h2>
           <% questions.forEach(question => { %>
            <div class="question-list">
                <h4><%= question.title %></h4>
                <a href="/question/<%= question.id %>"><button class="light">Responder / Ver</button></a>
            </div>
           <% }) %>
       </div>
    </main>
<%- include ('partials/footer') %>
    