<%- include ('partials/header') %>
    <main>
        <div class="page-title">
            <h1>Ask - Plataforma de Perguntas e Respostas</h1>
            <a href="/"><button class="success">Voltar</button></a>  
        </div>
        <div class="questions-container"> 
            <form method="post" action="question-list">
                <select name="category" required>
                    <option value="">-- Selecione uma categoria --</option>
                    <option value="javascript">Javascript</option>
                    <option value="nodeJS">nodeJS</option>
                    <option value="php">PHP</option>
                    <option value="html">HTML</option>
                    <option value="css">CSS</option>
                    <option value="other">Outro</option>
                </select>
                <button class="primary">Filtrar categoria</button>
           </form>
           <h2>>> Últimas perguntas sobre <%= question.reduce(category => category.category) %></h2>
            <% question.forEach(question => { %>
             <div class="question-list">
                 <h4><%= question.title %></h4>
                 <button class="light">Responder / Ver</button>
             </div>
            <% }) %>
        </div>
    </main>
<%- include ('partials/footer') %>
    