@media screen and (max-width: 600px) {

    header{
        padding: 3px 15px;
    }

    h1{
        font-size: 1.7em;
    }

    h2{
        font-size: 1.2em;
    }

    header img {
        max-width: 120px;
    }

    form{
        width: 100%;
    }

    main{
        width: 90%;
    }

    .light {
        margin: 0;
    }

    .question-list{
        background-color: #dfdfdf;
        padding: 1px 10px 20px 10px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        text-align: center;
    }

    .page-title{
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
    }
  }