@media screen and (max-width: 600px) {

    header{
        padding: 3px 15px;
    }

    header img {
        max-width: 120px;
    }

    form{
        width: 100%;
    }

    main{
        width: 90%;
    }
  }