html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}

* {
    font-family: 'Montserrat', monospace;
}

h1{
    color: #464646;
}

header{
    background-color: #7e9ec9;
    box-sizing: border-box;
    padding: 0px 100px;
}

header img {
    max-width: 140px;
}

main {
    width: 70%;
    margin: 0 auto;
    padding: 40px 10px 60px 10px;
}

footer {
    background-color: #363636;
    text-align: center;
    padding: 10px 0px;
    margin-top: 45px;
}

footer, p{
    color: #8a8a8a;
    font-size: 0.95em;
}

form {    
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

input, textarea, select {
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 7px;
    border-radius: 8px;
    border: 1px solid #ccc;
    color: rgb(85, 85, 85);
}

textarea:focus, input:focus, select:focus {
    outline: none;
    box-shadow: 0 0 3pt 2pt #cfcfcf;
    border-radius: 8px;
  }

button {
    padding: 13px;
    font-size: 1.2em;
    cursor: pointer;
}

button, .primary {
    background-color: #3786cf;
    color: #fff;
    border: none;
    border-radius: 8px;
}

button, .primary:hover{
    background-color: #236fb6;
}

.success {
    background-color: #07ce7b;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 0px 25px;
    font-size: 1em;
    height: 45px;
    margin-left: 20PX;
}

.success:hover{
    background-color: #05be71;
}

.light {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #9c9c9c;
    color: #6b6b6b;
    border-radius: 8px;
    padding: 0px 25px;
    font-size: 1em;
    height: 45px;
    min-width: 200px;
    margin-left: 20PX;
}

.light:hover{
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
}

::placeholder{
    color: #c7c7c7;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.page-title{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.questions-container{

}

.question-list{
    background-color: #dfdfdf;
    padding: 1px 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.question-list:hover{
    background-color: #fff;
}
